@import "variables";

.container_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem;
  gap: 5rem;
  font-family: $primary-font;
  box-sizing: border-box;
}

.admin_button {
  height: 4rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  border: #0000ff 1px solid;
  cursor: pointer;
  color: #fbfbfb;
  transition: all 0.5s;
  background-color: blue;

  &:hover {
    width: 20rem;
    height: 5rem;
  }
}