@import "variables";

body .container_admin {
  overflow: hidden;
}

.container_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5rem;
  gap: 2rem;
  font-family: $primary-font;
  box-sizing: border-box;

}

.admin_button {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 300;
  box-shadow: 20px 10px 40px -14px rgba(66, 68, 90, 1);
  position: relative;
  transition: all 0.5s;
  z-index: 0;
  margin: 3.5rem;

  &.button_edit {
    background: white;
    color: blue;
  }

  &.button_answers {
    color: white;
    background-color: blue;
  }

  &:hover {
    box-shadow: 20px 10px 30px -10px rgba(66, 68, 90, 1);
  }
}
.home_button_admin{
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 3rem;

}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal_content {
  background: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
  width: 90vw;
  height: 90vh;
  z-index: 2;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 6px;
    border: 1px solid lightgrey;
    box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }
}

.items_table {
  width: 80%;
  border-collapse: collapse;
  margin: 1.5rem auto;
  font-size: 0.8rem;
  text-align: left;

  & th, td {
    padding: 0.75rem 0.8rem;
    border-bottom: 1px solid #ddd;
  }

  tbody tr:hover {
    color: blue;
  }
}

.modal_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  padding-left: 1rem;
  padding-top: 0.5rem;

}

.close_btn {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background: none;

}

.add_btn {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background: none;
  rotate: 45deg;
}


.delete_btn {
  background: none;
  border: none;

  :hover {
    fill: blue;
    stroke: blue;
  }
}

.delete_answer {
  background: none;
  border: none;
  position: absolute;
  top: 6rem;
  fill: blue;
  stroke: blue;

}

.save_btn {
  background: none;
  border: none;
}

.question_table {
  width: 70%;
  border-collapse: collapse;
  margin: 1.5rem auto;
  font-size: 0.8rem;
  text-align: left;

  & th, td {
    padding: 0.75rem 0.8rem;
    border-bottom: 1px solid #ddd;
  }
}

.add_item_modal {
  position: absolute;
  z-index: 2;
  width: 80rem;
  height: auto;
  background: white;
  left: 10%;
  top: 8rem;
  border: 1px lightgrey solid;
  border-radius: 0.6rem;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);

  &.questionnaire {
    overflow-y: scroll;
    height: 40rem;
    border-radius: 0.6rem;
    padding: 2rem;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: blue;
      border-radius: 0;
      border: 1px solid lightgrey;
      box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);

    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }
  }
}

.add_item_modal_large {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;

  &.questionnaire {
    overflow-y: scroll;
    border-radius: 0.6rem;
    padding: 2rem;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: blue;
      border-radius: 0;
      border: 1px solid lightgrey;
      box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }
  }
}

.close_btn_add_modal {
  border: none;
  width: 2rem;
  height: 2rem;
  background: none;
  top: 1rem;
  left: 1rem;
}

.resize_btn {
  border: none;
  width: 2.5rem;
  background: none;
  top: 0;
  left: 0;

}

.modal_adding_question {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 3rem 3rem 0 6rem;
  font-size: 1.5rem;

}

.adding_question {
  border: none;
  width: 100%;
  height: 100%;
  padding-bottom: 2.5rem;

}

.answers_modal_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.answers_modal_titles {
  padding: 2rem;
}

.single_answer {
  border: white 1px solid;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  box-shadow: 5px 5px 25px -10px rgba(66, 68, 90, 1);
  cursor: pointer;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  &:hover{
    border: blue 1px solid;
  }
}

.answers_modal {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.input_new_item_name{
  border: none;
  color: blue;
  font-size: 0.8rem;
}

.input_new_item_select{
  padding: 0.2rem 0 0.2rem 0.7rem;
  font-size: 0.8rem;
  border: 1px solid blue;
  border-radius: 1rem;

}

.input_new_item_button_ok{
  background: blue;
  border: 1px solid blue;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  padding: 0;
  font-size: 0.7rem;
}

input[type="file"] {
  display: none;
}

.input_new_item_file{
  border: 1px solid blue;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
  :hover{
    color: black;
  }
}