.container_contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logo_contact{
  margin: 10rem 0 3rem 2.5rem;
}

.contact_text{
  font-size: 0.8rem;
  font-weight: 300;
}

.contact_name{
  margin: 1rem 0 3rem 0;
}

.insta_logo{
  margin-top: 3rem;
}