@import "variables";

.footer {
  display: flex;
  gap:8rem;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  position: relative;
  padding-left: 10rem;
  font-size: 0.55rem;
  .footer_logo{
    height: 2rem ;
    position: absolute;
    left: 0;
    top: -0.5rem;
  }
}