@import "variables";

.main_page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
  margin-top: 25vh;
  font-weight: 500;
  font-family: $primary-font;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;

  &_menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 10rem;
    gap: 5rem;
    padding: 0 15rem 0 0.5rem;

    &_options {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }
}

.logo {
  padding-top: 1.5rem;
}

.custom_link {
  text-decoration: none;

  &:visited {
    color: black;
  }

  &:hover {
    color: blue;
  }
}
.login_icon {
  width: 2.5rem;
  height: 2.5rem;
  &:hover{
    stroke: blue;
    fill: blue;
  }
}

.icon-container{
  position: absolute;
  top: 1rem;
  right: 3rem;
  .tooltip {
    visibility: hidden;
    color: blue;
    padding-top: 0.5rem;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -0.4rem;
    transition: opacity 0.3s, visibility 0.3s, top 0.3s;
  }
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  top: 3rem;
}


