@import "variables";

.login_page {
  font-family: $primary-font;

}

.login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 30rem;
  padding: 3rem;
  transform: translate(-50%, -50%);
  background: #46a8fd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
}

.heading_login_box {
  margin-bottom: 3rem;
  color: #fff;
  text-align: center;
}

.user_box {
  position: relative;

}

.user_box_input {
  width: 20rem;
  padding: 1rem 0;
  color: #fff;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user_box_label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.8rem 0;
  font-size:0.8rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;

}

.login_box .user_box input:focus~label,
.login_box .user_box input:valid~label {
  top: -1.3rem;
  left: 0;
  color: #fdfdfd;
  font-size: 0.8rem;
}

.login_box_button {
  position: absolute;
  display: flex;
  padding: 0.6rem 1.4rem;
  color: #1f59a0;
  text-decoration: none;
  margin-top: 2rem;
  width: 5em;
  height: 5rem;
  border-radius: 50%;
  left: 5rem;
  bottom: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
  transition: all 0.3s;
  &:hover{
    width: 5.5rem;
    height: 5.5rem;
  }
}

.home_button{
  position: absolute;
  top: 7rem;
  left: 31rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
  transition: all 0.3s;
  &:hover{
    width: 5.5rem;
    height: 5.5rem;
  }
}


