@import "variables";

.logo_mini {
  height: 8rem;
  width: 9rem;
  padding-top: 4rem;
  align-self: center;
}

.container_questions {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: start;
}

.questions_list {
  list-style-type: decimal;
  line-height: 2;
  align-items: flex-start;

  & li {
    padding-left: 2rem;
  }
}

.questions_list_title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 1.5rem;
}

.single_question {
  position: relative;
  width: 60rem;
}

.input_questions {
  width: 25%;
  padding: 4rem 0 0.5rem ;
  color: #0000ff;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid blue;
  background: transparent;
  transition: all 0.8s;

  &:focus {
    width: 75%;
    color: blue;
    text-indent: 0
  }
}

.label_questions {
  position: absolute;
  top: 0;
  left: 2rem;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  color: #131313;
  pointer-events: none;
  transition: all 0.5s;

}

.single_question input:focus ~ label {
  top: -1.3rem;
  left: 1em;
  font-size: 1.2rem;
}

.btn_questions_top {
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: $primary-font;
  &:hover{
    color: blue;
  }
}

.input_name_question{
  border: none;
  border-bottom: black 1px solid;
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: blue;
  width: 10rem;
}




