@import "variables";

.register_page {
  font-family: $primary-font;

}

.register_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 30rem;
  padding: 3rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
}

.heading_register_box {
  margin-bottom: 3rem;
  color: blue;
  text-align: center;
}

.user_box {
  position: relative;
}

.user_box_input_register {
  width: 20rem;
  padding: 1rem 0;
  color: black;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 1px solid blue;
  outline: none;
  background: transparent;
}

.user_box_label_register {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.8rem 0;
  font-size: 0.8rem;
  color: black;
  pointer-events: none;
  transition: 0.5s;

}

.register_box .user_box input:focus ~ label,
.register_box .user_box input:valid ~ label {
  top: -1.3rem;
  left: 0;
  color: blue;
  font-size: 0.8rem;
}

.register_box_button {
  position: absolute;
  display: flex;
  padding: 0.6rem 1.4rem;
  width: 5em;
  height: 5rem;
  border-radius: 50%;
  left: 5rem;
  bottom: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
  transition: all 0.3s;

  &:hover {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.flip_icon {
    position: absolute;
    top: 15rem;
    left: -2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 15px 42px -16px rgba(66, 68, 90, 1);
    transition: all 0.3s;
    &:hover{
      width: 5.5rem;
      height: 5.5rem;
    }
}

